@import "/styles/vendor/font-awesome-4.7.0/css/font-awesome.min.css";

.book-summary {
  padding: 20px 0 0 20px;
}

.book-summary h2 {
  color: #fff;
  margin-bottom: 18px;
  width: 70%;
  line-height: 1em;
}

.book-summary h2 p {
  font-size: 16px;
  margin: 0;
  margin-top: 6px;
}

.img-pull-left {
  float:left;
  width: 300px;
  margin: 0 20px 20px 0;
}

.img-pull-left figure {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.markdown-section img {
  border: 1px solid #eee;
}

.clearer {
  clear: both;
}

.license {
  margin-top: 40px;
  margin-left: 18px;
  width: 85%;
}

.license.oer img {
  width: 130px;
}

div.license, div.license > a {
  color: #fff;
  font-size: 12px;
}

div.book-summary ul.summary li {
  line-height: 1.1em;
}

div.book-summary ul.summary li a,
div.book-summary ul.summary li.active a {
    padding: 1px 15px;
  }

div.book-summary ul.summary li a {
  text-decoration: none;
}

.book-summary ul.summary li.header {
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  width: 90%;
  font-weight: 700;
  padding-left: 0;
}

.book-summary ul.summary li.header.active {
  color: red;
}

#auftrag:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f0e7";
  padding-right: 10px;
  color: #d0bb00;
}

#abgabetermin:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f071";
  padding-right: 10px;
  color: red;
}

.markdown-section #fahrplan + table {
  font-size: 12px;
  line-height: 1em;
}

.badge-wrapper {
  display: none;
}

/*Positionierung der Pfeile im Plugin expandable-chapters*/
.book .book-summary .exc-trigger {
    top: 2px;
}

/*Formatierung von Tasten des Keyboards, http://www.jimmyscode.com/css-styling-for-kbd-tags/*/

kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}

/*Formatierung der Zahlen, die sich auf einen Screenshot beziehen.*/
span.screenshot-ref-num {
    border: 2px solid red;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    color: red;
    font-weight: bold;
}

.markdown-section h1 {
    line-height: 1.2em;
}

.latex {
  display: none;
}

div.book-summary ul.summary li{
  line-height: 1.7em;
}


.markdown-section a{
  color: #3a8299;
}